CurrencyToTexyConverter.Client.Wpf/Connected Services/CurrencyConversionService/CcyConv2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2112/CcyConv?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CurrencyToTextConverterService" />
  <xs:element name="ConvertToText">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CurrencyToTextConverterService" minOccurs="0" name="value" nillable="true" type="q1:CurrencyDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertToTextResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>