CurrencyToTexyConverter.Client.Wpf/Connected Services/CurrencyConversionService/CcyConv.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CurrencyToTextConverterService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CurrencyToTextConverterService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CurrencyDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cents" type="xs:int" />
      <xs:element minOccurs="0" name="Dollars" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrencyDto" nillable="true" type="tns:CurrencyDto" />
  <xs:complexType name="CurrencyConversionFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrencyConversionFault" nillable="true" type="tns:CurrencyConversionFault" />
</xs:schema>